@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  /* background-color: red !important; */
  font-family: "poppins", "sans-serif";
  font-size: 17px;
  line-height: 26px;
  text-transform: capitalize;
  box-shadow: 0 8px 6px -6px gray;
  -webkit-box-shadow: 0 8px 6px -6px;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 500 !important;
}

.active {
  border-bottom: 2px solid black;
}
.navbar-brand {
  font-weight: 700 !important;
  letter-spacing: 3px;
}

/* *************************
    ******************
******** footer ********************
*/
.footer {
  background: linear-gradient(to right, #434343 0%, black 100%) !important;
  color: white;
  padding: 25px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
